h1{
    color: hotpink;
        text-align: center;
    font-family: sans-serif;
    
}

p{
    color: orangered;
    text-align: center;
    font-family: fantasy;
}

body{
    background-color: lightgrey;
}


img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
/*
a:link{


}
/*
a:visited{

}
